In [3]:
import os 
%pwd
os.chdir("../")
%pwd

'd:\\My Workspace\\proj_file\\Car-Price-Prediction'

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [4]:
df = pd.read_csv('artifacts\data_ingestion\car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
df.shape

(301, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [7]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [8]:
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [9]:
df.duplicated().sum()

2

In [10]:
df['Car_Name'].value_counts()

Car_Name
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: count, Length: 98, dtype: int64

In [11]:
df['Car_Name'].nunique()

98

In [12]:
print(df.Fuel_Type.value_counts())
print(df.Seller_Type.value_counts())
print(df.Transmission.value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64
Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64
Transmission
Manual       261
Automatic     40
Name: count, dtype: int64

In [13]:
encoder = LabelEncoder()

In [14]:
df['Fuel_Type'] = encoder.fit_transform(df['Fuel_Type'])
df['Seller_Type'] = encoder.fit_transform(df['Seller_Type'])
df['Transmission'] = encoder.fit_transform(df['Transmission'])
df['Car_Name'] = encoder.fit_transform(df['Car_Name'])

In [15]:
print(df.Fuel_Type.value_counts())
print(df.Seller_Type.value_counts())
print(df.Transmission.value_counts())

Fuel_Type
2    239
1     60
0      2
Name: count, dtype: int64
Seller_Type
0    195
1    106
Name: count, dtype: int64
Transmission
1    261
0     40
Name: count, dtype: int64

In [16]:
df.head(3)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,2014,3.35,5.59,27000,2,0,1,0
1,93,2013,4.75,9.54,43000,1,0,1,0
2,68,2017,7.25,9.85,6900,2,0,1,0

In [17]:
x = df.drop('Selling_Price',axis = 1)
y = df['Selling_Price']

In [18]:
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [19]:
print(x)

[[ 1.07432341  0.128897   -0.23621461 ... -0.73728539  0.39148015
  -0.17450057]
 [ 1.19182753 -0.21751369  0.22150462 ... -0.73728539  0.39148015
  -0.17450057]
 [ 0.21262651  1.16812909  0.25742689 ... -0.73728539  0.39148015
  -0.17450057]
 ...
 [ 0.25179455 -1.60315648  0.39068691 ... -0.73728539  0.39148015
  -0.17450057]
 [ 0.25179455  1.16812909  0.56450434 ... -0.73728539  0.39148015
  -0.17450057]
 [ 0.13429043  0.8217184  -0.20029235 ... -0.73728539  0.39148015
  -0.17450057]]

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.2,
                                                    random_state=42)

In [22]:
# model_1 == linear regression

model_1 = LinearRegression()
model_1.fit(x_train,y_train)
model_1.score(x_train,y_train)*100 , model_1.score(x_test,y_test)*100

(88.40630578239454, 84.65539666857805)

In [23]:
# model_2 == lasso regression

model_2 = Lasso(0.02)
model_2.fit(x_train,y_train)
model_2.score(x_train,y_train)*100 , model_2.score(x_test,y_test)*100

(88.39096728214932, 84.58674674456648)

In [24]:
#model_3 == ridge regression

model_3 = Ridge(alpha = 6)
model_3.fit(x_train,y_train)
model_3.score(x_train,y_train)*100 , model_3.score(x_test,y_test)*100

(88.36055816931052, 84.37224488917225)

In [25]:
#model_4 == elasticnet regression

model_4 = ElasticNet(0.02)
model_4.fit(x_train,y_train)
model_4.score(x_train,y_train)*100 , model_4.score(x_test,y_test)*100

(88.3872462587826, 84.51391155128933)

In [26]:
#model_5 == deciason tree regression

model_5 = DecisionTreeRegressor(max_depth = 10)
model_5.fit(x_train,y_train)
model_5.score(x_train,y_train)*100 , model_5.score(x_test,y_test)*100

(99.96109758796794, 95.61600273931037)

In [27]:
#model_6 ==  random forest regression

model_6 = RandomForestRegressor(n_estimators=10)
model_6.fit(x_train,y_train)
model_6.score(x_train,y_train)*100 , model_6.score(x_test,y_test)*100

(96.99791976319861, 97.3237139669518)

In [28]:
#model_7 ==  random forest regression

model_7 = SVR()
model_7.fit(x_train,y_train)
model_7.score(x_train,y_train)*100 , model_7.score(x_test,y_test)*100

(66.00840380338376, 78.48466914602926)

In [29]:
# model_9 == gradient boosting regression

model_9 = GradientBoostingRegressor(n_estimators=250)
model_9.fit(x_train,y_train)
model_9.score(x_train,y_train)*100 , model_9.score(x_test,y_test)*100

(99.92255454890442, 96.83542027727302)

In [30]:
#model_10 == XGB regression

model_10 = XGBRegressor()
model_10.fit(x_train,y_train)
model_10.score(x_train,y_train)*100 , model_10.score(x_test,y_test)*100

(99.99975364074535, 95.95049391082628)

From this I conclude to go with model_9 == gradient boosting regression,
For furthur hyper parameter tuning